.base {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

    &__header,
    &__main,
    &__footer {
        position: relative;
    }
}
