@use 'functions' as *;

@mixin setFontSize($type){
    .special-font{  //64px
        font-size: getFontSize($type, special);
    }
    .big-head-font{ //32px
        font-size: getFontSize($type, big-head);
    }
    .normal-head-font{  //24px
        font-size: getFontSize($type, normal-head);
    }
    .normal-font{   //16px
        font-size: getFontSize($type, normal);
    }
    .small-small-font{  //12px
        font-size: getFontSize($type, small);
    }
};

// responsive mixin
@mixin media-md{ // 768px
    @media screen and (min-width: 48em){
        @content;
    }
};
@mixin media-lg{ // 1200px
    @media screen and (min-width: 75em){
        @content;
    }
};
@mixin media-xl{ // 1900px
    @media screen and (min-width: 118.75em){
        @content;
    }
};