@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Monstserrat-Light.otf') format('otf'),
         url('/fonts/Montserrat-LightItalic.otf') format('otf'),
         url('/fonts/Montserrat-Medium.otf') format('otf'),
         url('/fonts/Montserrat-MediumItalic.otf') format('otf'),
         url('/fonts/Montserrat-Regular.otf') format('otf'),
         url('/fonts/Montserrat-SemiBold.otf') format('otf'),
         url('/fonts/Montserrat-SemiBoldItalic.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik Glitch';
    src: url('/fonts/rubik-glitch.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

$def-font-size: 16px;
$primary-font: 'Montserrat', sans-serif;
$special-font: 'Rubik Glitch', sans-serif;

$colors: (
    'primary-light': #0DBFF6,
    'primary-dark': #016685,
    'primary-white': #EEEEEE,
    'secondary-dark': #707070,
    'background': #181818,
    'background-contrast-dark':  #1C1C1C,
    'background-contrast-light': #242424,
);

$font-size-s: (
    "special": 4rem,            //64ppx
    "big-head" : 2rem,          //32px
    "normal-head" : 1.5rem,     //24px
    "normal" : 1rem,            //16px
    "small" : 0.75rem           //12px 
);

$max-width: (
    "s": 20rem,
    "m": 40rem,
    "l": 50rem,
    "xl": 95rem,
);

$little-shadow: 0px 3px 8px #00000025;