@use 'init' as *; 

/*
*   @title: GLOBAL FONT SIZE
*/

@include setFontSize(s); 

/*
* @title: OTHERS
*/

.flex {
    display: flex;
    flex-direction: row;

    &-center {
        justify-content: center;
        align-items: center;
    }

    &-column {
        flex-direction: column;
    }
}


.btn {
    position: relative;

    &-primary {
        background: getColors(primary-dark);
        border: none;   
        border-radius: 5px; 
        color: getColors(primary-white);
        transition: 0.25s opacity ease-out;
        opacity: 1;

        &:hover {
            color: getColors(primary-white);
            opacity: $opaciy-hover;
            transition: 0.25s opacity ease-in;
        }
    }

    &-borderless {
        background: transparent;
        border: transparent;
    }
}